@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    font-family: Montserrat;
    letter-spacing: 1.2px;
    line-height: 25px;
}

header img {
    width: 7%;
    border-radius: 50%;
    border: 2px solid grey;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
}

#logo h1 {
    color: greenyellow;
}

#navbar {
    display: flex;
    flex-direction: column;
}

header {
    margin: 10px;
    padding: 10px;
}

#main p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#main form {
    width: 50%;
    margin: auto;
}

header h2 {
    color: aqua;
    font-size: 25px;
}

#para {
    font-size: 21px;
}

#amount {
    padding: 5px;
    width: 112px;
    border-radius: 50px;
    border: white;
}

#date {
    margin-left: 3px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 50px;
    border: white;
}

#category {
    margin-top: 15px;
    padding: 5px;
    width: 124px;
    border-radius: 50px;
    border: white;
}

#typeofitem {
    margin-top: 15px;
    padding: 5px;
    width: 112px;
    border-radius: 50px;
    border: white;
}

#btn1 {
    border: 1px solid peachpuff;
    color: peachpuff;
    margin-top: 20px;
    margin-left: 70px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: black;
}

#btn2 {
    border: 1px solid green;
    color: green;
    margin-top: 15px;
    margin-left: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: black;
}

#btn1:hover {
    background-color: peachpuff;
    color: black;
}

#btn2:hover {
    background-color: green;
    color: white;
}

#main h4 {
    text-align: center;
}

#main {
    border: 2px solid purple;
    border-radius: 25px;
    width: 38%;
    margin: auto;

}

#table-container {
    color: #000;
}

footer {
    background-color: rgb(22, 20, 20);
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 32%;
    border-radius: 50%;
    border: 2px solid grey;
}

#twitter:hover {
    color: aqua
}

#facebook:hover {
    color: blue;
}

#instagram:hover {
    color: rgb(215, 51, 79);
}

#linkedin:hover {
    color: rgb(33, 33, 255);
}

#table-container {
    position: absolute;
    top: 20%;
    left: 30%;
    display: none;
    z-index: 3;
    background-color: peachpuff;
    box-shadow: 0px 0px 5px 5px rgb(172, 172, 172);
    padding: 50px;
}

#black {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: #000;
    z-index: 2;
}

table,
tr,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
}

#table-container>button {
    border: 1px solid black;
    background-color: peachpuff;
    padding: 10px 25px;
    border-radius: 25px;
}

#table-container>button:hover {
    background-color: black;
    color: white;
}

@media (max-width:1050px) {
    #logo img {
        width: 70px;
    }

    #nav p {
        width: 100%;
    }

    #main {
        width: 50%;
    }

    #main form {
        width: 60%;
    }

    #table-container {
        left: 22%;
    }
}

@media (max-width:900px) {
    #nav p {
        width: 100%;
    }

    #main {
        width: 60%;
    }

    #main form {
        width: 60%;
    }

    #table-container {
        left: 20%;
    }
}

@media (max-width:700px) {
    #logo h1 {
        font-size: 30px;
    }

    #navbar h2{
        font-size: 19px;
    }

    #nav #para{
        font-size: 17px;
    }
    #nav p {
        width: 100%;
    }

    #main {
        width: 75%;
    }

    #main p {
        font-size: 18px;
    }

    #main form {
        width: 80%;
        margin: auto;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer img {
        width: 70px;
    }

    #table-container {
        left: 1%;
        padding: 10px;
    }

    #table-container table {
        width: 100%;
    }
    table,tr,td,th{
        padding: 5px;
    }
}